# mac
.DS_Store

# editors
.vscode
.idea
*.iml

# data
*.log
*.avro
*.tgz
.db

# python
*__pycache__
*.pyc
.pytest_cache
.cache
*.egg-info
build
dist
MANIFEST

# python test
.coverage
.mypy_cache
.pytest_cache/
.tox

# venvs
.venv/
env/
venv/

# environment variables
.env

# ds related
*.ipynb_checkpoints

# secrets
