# COPY this file and rename it as .env in the root of the project.
# Then, define all environment variables necessary
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!
#
# Environment variables can be read by `python-dotenv`, `environs`, or other package:
#
#   `.env`
#   ----------------------------------------------------------------
#    USER_NAME=<the user name value>
#    DATABASE_NAME=<the database name value>
#    OTHER_VARIABLE_OF_YOUR_CHOICE=<value>
#   ----------------------------------------------------------------

# Ex:
#   `src/script.py`
#   ----------------------------------------------------------------
#    import dotenv
#
#    project_dir = os.path.join(os.path.dirname(__file__), os.pardir)
#    dotenv_path = os.path.join(project_dir, '.env')
#    dotenv.load_dotenv(dotenv_path)
#   ----------------------------------------------------------------
#
#   `src/script.py`
#   ----------------------------------------------------------------
#   from environs import Env
#
#   env = Env()
#   env.read_env()  # read .env file, if it exists
#   # required variables
#   gh_user = env("GITHUB_USER")  # => 'sloria'
#   secret = env("SECRET")  # => raises error if not set
#   ----------------------------------------------------------------
#
#
